Entity Resolution
=========

This provides an overview of why and how Entity Resolution is becoming an important 
discipline in [Computer Science and Data Science](http://www.datacommunitydc.org/blog/2013/08/entity-resolution-for-big-data). This notebook explores why we need entity resolution and how to do it. Brief explanations
are given regarding commerical options. Open source options are also discussed. Some of these open
source options are demonstrated using Python.

## Why do we need entity resolution?

When doing a statistical analysis, you need to first identify your units of analysis. 
Borrowing from Allison ([Multiple Regression: A Primer](http://www.amazon.com/Multiple-Regression-Research-Methods-Statistics/dp/0761985336), p. 7):

> To do a regression analysis, you first need a set of cases (also called units of analysis or observations).
> In the social sciences, the cases are most often persons, but they could also be organizations, countries, or
> other groups. In economics, the cases are sometimes units of time, like years or quarters. For each case, you
> need measurements on all of the variables in the regession equation. 

Often, our data does not come to us in one table; ready for analysis. In this situation, we also need to be
aware of database concepts.In web development, we can say that we're concerned with defining the database 
model (see the Python web framework Django for [their model specifications](https://docs.djangoproject.com/en/1.8/topics/db/models/)). In the case of Entity Resolution, we are concerned with two concepts:

1. Primary Keys
1. Foreign Keys

In Django, each model requires exactly one field to have a primary key. A foreign key specifies a one-to-many 
relationship in Django. They have separate field types for one-to-one and many-to-many relationships between models. For our purposes we will exclude many-to-many relationships and include one-to-one relationships in our discussion of the Foreign key. The following is a demonstration from the [Django Documenation of the Foreign key](https://docs.djangoproject.com/en/1.8/ref/models/fields/#django.db.models.ForeignKey). 

``` Python
from django.db import models

class Car(models.Model):
    manufacturer = models.ForeignKey('Manufacturer')
    # ...

class Manufacturer(models.Model):
    # ...
    pass
```

We can see that each type of car could have multiple manufacturers. Several car manufacturers make mid-size sedans. Those manufacturers are reflected in the above Django model. The database models are not specific to Python but it does help to have concrete examples with easily accessible documentation.

When conducting a statistical analysis, we want to run our model on one table. Before conducting the analysis, we must be sure of the following:

1. Each unit of analysis occurs only once 
  * Primary keys must be present and unique
1. Each unit of analysis includes variables that have been correctly mapped from their original tables
  * Foreign keys must be present

Entity Resolution is a tool to define primary and foreign keys when these relationships are not previously well defined. For example, let's say people start using the web application described above. They populate the models with cars and
the manufacturers who produce them. The developers did not include standard names for cars and manufacturers because
they were unsure of what the future may hold. As the data scientist arrives on scene, they find that people have spelled
the manufacturer "GMC" in a variety of ways like "General Motors Corporation" and "General Motors". People have also 
mispelled the manufacturer name. Actually, they have done this across much of the manufacturer and car information. 

Given the state of this manufacturer/car data, the data scientist is no longer able to ascertain their unit of analysis. They must recreate primary and foreign keys before they can perform their statistical analysis. 

  
**TL;DR** We can't begin our analysis unless we have defined and identified quantifiable units of analysis. Data often shows up in multiple tables, we need to know about primary and foreign keys. We want to run our statistical analysis on a single table. We must determine primary and foreign keys before we can manipulate our data to perform the statistical analysis. Entity resolution can be used to establish primary and foreign keys when those relationships are not previously well defined.




## How can we accomplish entity resolution?

We have established that entity resolution is a way for the data scientist to restablish primary and foreign keys once people have inputted information which makes those relationships ambiguous from a statistical analysis standpoint. Here is the same goal restated by the [Stanford Entity Resolution Framework (SERF)](http://infolab.stanford.edu/serf/)Project.

> The goal of the SERF project is to develop a generic infrastructure for Entity Resolution (ER). ER (also known as
> deduplication, or record linkage) is an important information integration problem: The same "real-world entities"
> (e.g., customers, or products) are referred to in different ways in multiple data records. For instance, two records
> on the same person may provide different name spellings, and addresses may differ. The goal of ER is to "resolve"
> entities, by identifying the records that represent the same entity and reconciling them to obtain one record per
> entity.

You can accomplish entity resolution by:

1. Hiring a company
1. Doing it yourself
1. A little of both

We will explore each option.

### Hire a company

[Basis Technology](http://www.basistech.com/) has a product called the [Rosette Entity Resolver](http://www.basistech.com/text-analytics/rosette/entity-resolver/). Their technology has been used
by "Amazon.com, EMC, Endeca/Oracle, Exalead/Dassault, Fujitsu, Google, Hewlett-Packard, Microsoft, Oracle, and governments around the world". If you're a newer smaller company then you might want to check out their [startup program](http://www.basistech.com/about/startup/).

### Do it yourself

There are number of open source tools and frameworks that I've found. None of them are an Apache projects. Here's what I've found:

1. [Dedupe](https://github.com/datamade/dedupe) python package
1. [Duke](https://github.com/larsga/Duke)
1. [elasticsearch-entity-resolution](https://github.com/YannBrrd/elasticsearch-entity-resolution)
1. [Berkeley Entity Resolution](https://github.com/gregdurrett/berkeley-entity)
1. [SERF Project](http://infolab.stanford.edu/serf/)
1. [Ch. 3 of Mining Massive Datasets](http://infolab.stanford.edu/~ullman/mmds/ch3.pdf)

Of these options, Dedupe is the only one maintained by an organization ([Datamade](http://datamade.us/)). My personal experience with Duke is that it seemed to have some buzz but none of the demo examples worked for me. The elasticsearch entity resolution plugin is based on Duke (haven't personally tried it). The Berkeley ER project looks like it's Greg's thesis and appears to be a work in progress. When I contacted one of the researchers at the SERF project, they said it's no longer active. Ch.3 of Mining massive datasets included an entity resolution example that may work for certain use cases.

Let's take a closer look at *Dedupe* and Ch.3 of Mining Massive datasets (hereafter referred to as *MMDS*). See **appendix 1 & 2** for examples.

### Do some of it yourself but hire a company

One approach is to refurbish your dataset by kicking the complexity to some else's API. Depending on your
data, you may be able to take advantage of the [Google Places API](https://developers.google.com/places/). This would allow you to return standard names for locations and organizations; you may even be able to cross-reference their phone numbers. This API is considerably different than the one produced by Facebook or Foursquare because it's not user-generated; from what I can tell. See **Appendix 3** for an example.

## Appendix 0: Getting Data

Our data is from the Dedupe [test datasets](https://github.com/datamade/dedupe/tree/master/tests/datasets).

In [1]:
import pandas as pd

restaurant_1 = pd.read_csv("datasets/restaurant-1.csv")
restaurant_2 = pd.read_csv("datasets/restaurant-2.csv")

print("Columns are identical: {}".format(restaurant_1.columns == restaurant_2.columns))

Columns are identical: [ True  True  True  True  True]

In [2]:
restaurant_1.describe()

,name,address,city,cuisine,unique_id
count,112,112,112,112,112
unique,112,111,16,31,112
top,san domenico,"""3434 peachtree rd. ne""","""new york city""","""american (new)""",'36'
freq,1,2,43,20,1

## Appendix 1: MMDS Approach

The main moving part here is the edit distance.

## Appendix 2: Dedupe (Python Package)

Note that [dedupe tests](https://github.com/datamade/dedupe/tree/master/tests) includes the referenced datasets. I've modified the tests so they play well within a notebook. We will use Dedupe to solve the following problems:


1. Deduplication
1. Record linkage

In [3]:
import os
import time
import csv
import datetime
import multiprocessing
from itertools import combinations
from future.utils import viewitems

import dedupe
import exampleIO

### Deduplication

In [4]:
# filepath
settings_file = 'canonical_learned_settings.json'
raw_data = 'datasets/restaurant-nophone-training.csv'

# params
fields  = [{'field' : 'name', 'type': 'String'},
                      {'field' : 'name', 'type': 'Exact'},
                      {'field' : 'address', 'type': 'String'},
                      {'field' : 'cuisine', 'type': 'ShortString'},
                      {'field' : 'city', 'type' : 'ShortString'}
                      ]

In [5]:
def dedupeToPandasDf(output):
    """ Convert dedupe output to Pandas df """

def canonicalImport(filename):
    """ Clean and import data """
    preProcess = exampleIO.preProcess

    data_d = {}

    with open(filename) as f:
        reader = csv.DictReader(f)
        for (i, row) in enumerate(reader):
            clean_row = [(k, preProcess(v)) for (k, v) in
                         viewitems(row)]
            data_d[i] = dedupe.core.frozendict(clean_row)

    return data_d, reader.fieldnames

def evaluateDuplicates(found_dupes, true_dupes):
    """ Log information about duplicates that are identified """
    true_positives = found_dupes.intersection(true_dupes)
    false_positives = found_dupes.difference(true_dupes)
    uncovered_dupes = true_dupes.difference(found_dupes)

    print('found duplicate')
    print('duplicate length: {}'.format(len(found_dupes)))

    print('precision: {}'.format(1 - len(false_positives) \
                                        / float(len(found_dupes))))

    print('recall: {}'.format(len(true_positives) \
                                     / float(len(true_dupes))))
    
    return (true_positives, false_positives, uncovered_dupes)
    
def handleSettingsFile(settings_file, cores, sample_size, 
                       training_pairs, fields):
    """ Create settings file if it doesn't exist 
    
    Args:
        settings_file: str, path to settings file (json)
        cores:  int, multiprocessing.cpu_count()
        sample_size: int, # of samples
        training_pairs: dedupe.trainingDataDedupe()
        fields: list of dicts, field specifications for deduping
        
    Returns:
        void, settings file updated or written to disk
    
    """
    if os.path.exists(settings_file):
        with open(settings_file, 'rb') as f:
            deduper = dedupe.StaticDedupe(f, 1)
            f.close()
        return deduper
    
    else:
        fields = fields

        deduper = dedupe.Dedupe(fields, num_cores=cores)
        deduper.sample(data_d, sample_size)
        deduper.markPairs(training_pairs)
        deduper.train()
        with open(settings_file, 'wb') as f:
            deduper.writeSettings(f)
            f.close()
        return deduper

In [6]:
## run the deduplication


data_d, header = canonicalImport(raw_data)

training_pairs = dedupe.trainingDataDedupe(data_d, 
                                           'unique_id', 
                                            5000)

deduper = handleSettingsFile(settings_file = settings_file, 
                       cores = multiprocessing.cpu_count(),
                       sample_size = 10000,
                       training_pairs = training_pairs,
                       fields = fields)


duplicates_s = set(frozenset(pair) for pair in training_pairs['match'])

t0 = time.time()

print('number of known duplicate pairs', len(duplicates_s))

alpha = deduper.threshold(data_d, 1.5)

# print candidates
print('clustering...')
clustered_dupes = deduper.match(data_d, threshold=alpha)

print('Evaluate Clustering')
confirm_dupes = set([])
for dupes, score in clustered_dupes:
    for pair in combinations(dupes, 2):
        confirm_dupes.add(frozenset((data_d[pair[0]], 
                                     data_d[pair[1]])))

true_positives, false_positives, uncovered_dupes = evaluateDuplicates(confirm_dupes, duplicates_s)

print('ran in ', time.time() - t0, 'seconds')

number of known duplicate pairs 112
clustering...
Evaluate Clustering
found duplicate
duplicate length: 115
precision: 0.9391304347826087
recall: 0.9642857142857143
ran in  0.37319064140319824 seconds

In [20]:
# format output into a table
for item in true_positives:
    print("\nnew item")
    print(item)

new item
frozenset({<frozendict {'name': 'plumpjack cafe', 'city': 'san francisco', 'unique_id': '108', 'cuisine': 'american (new)', 'address': '3127 fillmore st.'}>, <frozendict {'name': 'plumpjack cafe', 'city': 'san francisco', 'unique_id': '108', 'cuisine': 'mediterranean', 'address': '3201 fillmore st.'}>})

new item
frozenset({<frozendict {'name': 'dining room ritz-carlton buckhead', 'city': 'atlanta', 'unique_id': '90', 'cuisine': 'international', 'address': '3434 peachtree rd.'}>, <frozendict {'name': 'ritz-carlton dining room (buckhead)', 'city': 'atlanta', 'unique_id': '90', 'cuisine': 'american (new)', 'address': '3434 peachtree rd. ne'}>})

new item
frozenset({<frozendict {'name': "virgil's", 'city': 'new york', 'unique_id': '66', 'cuisine': 'american', 'address': '152 w. 44th st.'}>, <frozendict {'name': "virgil's real bbq", 'city': 'new york city', 'unique_id': '66', 'cuisine': 'bbq', 'address': '152 w. 44th st.'}>})

new item
frozenset({<frozendict {'name': 'hedgerose heights inn the', 'city': 'atlanta', 'unique_id': '82', 'cuisine': 'continental', 'address': '490 e. paces ferry rd. ne'}>, <frozendict {'name': 'hedgerose heights inn', 'city': 'atlanta', 'unique_id': '82', 'cuisine': 'international', 'address': '490 e. paces ferry rd.'}>})

new item
frozenset({<frozendict {'name': 'coyote cafe (las vegas)', 'city': 'las vegas', 'unique_id': '68', 'cuisine': 'southwestern', 'address': '3799 las vegas blvd. s.'}>, <frozendict {'name': 'coyote cafe', 'city': 'las vegas', 'unique_id': '68', 'cuisine': 'southwestern', 'address': '3799 las vegas blvd. s'}>})

new item
frozenset({<frozendict {'name': 'felidia', 'city': 'new york city', 'unique_id': '33', 'cuisine': 'italian', 'address': '243 e. 58th st.'}>, <frozendict {'name': 'felidia', 'city': 'new york', 'unique_id': '33', 'cuisine': 'italian', 'address': '243 e. 58th st.'}>})

new item
frozenset({<frozendict {'name': 'locanda veneta', 'city': 'los angeles', 'unique_id': '13', 'cuisine': 'italian', 'address': '8638 w. third st.'}>, <frozendict {'name': 'locanda veneta', 'city': 'los angeles', 'unique_id': '13', 'cuisine': 'italian', 'address': '3rd st.'}>})

new item
frozenset({<frozendict {'name': 'brasserie le coze', 'city': 'atlanta', 'unique_id': '77', 'cuisine': 'french bistro', 'address': '3393 peachtree rd.'}>, <frozendict {'name': 'brasserie le coze', 'city': 'atlanta', 'unique_id': '77', 'cuisine': 'french', 'address': '3393 peachtree rd. lenox square mall near neiman marcus'}>})

new item
frozenset({<frozendict {'name': 'fenix', 'city': 'hollywood', 'unique_id': '7', 'cuisine': 'american', 'address': '8358 sunset blvd. west'}>, <frozendict {'name': 'fenix at the argyle', 'city': 'w. hollywood', 'unique_id': '7', 'cuisine': 'french (new)', 'address': '8358 sunset blvd.'}>})

new item
frozenset({<frozendict {'name': 'seryna', 'city': 'new york', 'unique_id': '59', 'cuisine': 'asian', 'address': '11 e. 53rd st.'}>, <frozendict {'name': 'seryna', 'city': 'new york city', 'unique_id': '59', 'cuisine': 'japanese', 'address': '11 e. 53rd st.'}>})

new item
frozenset({<frozendict {'name': 'restaurant katsu', 'city': 'los angeles', 'unique_id': '10', 'cuisine': 'asian', 'address': '1972 n. hillhurst ave.'}>, <frozendict {'name': 'katsu', 'city': 'los feliz', 'unique_id': '10', 'cuisine': 'japanese', 'address': '1972 hillhurst ave.'}>})

new item
frozenset({<frozendict {'name': 'gotham bar & grill', 'city': 'new york city', 'unique_id': '35', 'cuisine': 'american (new)', 'address': '12 e. 12th st.'}>, <frozendict {'name': 'gotham bar & grill', 'city': 'new york', 'unique_id': '35', 'cuisine': 'american', 'address': '12 e. 12th st.'}>})

new item
frozenset({<frozendict {'name': "carmine's", 'city': 'new york', 'unique_id': '28', 'cuisine': 'italian', 'address': '2450 broadway between 90th and 91st sts.'}>, <frozendict {'name': "carmine's", 'city': 'new york city', 'unique_id': '28', 'cuisine': 'italian', 'address': '2450 broadway'}>})

new item
frozenset({<frozendict {'name': 'la folie', 'city': 'san francisco', 'unique_id': '104', 'cuisine': 'french', 'address': '2316 polk st.'}>, <frozendict {'name': 'la folie', 'city': 'san francisco', 'unique_id': '104', 'cuisine': 'french (new)', 'address': '2316 polk st.'}>})

new item
frozenset({<frozendict {'name': 'ritz-carlton restaurant and dining room', 'city': 'san francisco', 'unique_id': '110', 'cuisine': 'american', 'address': '600 stockton st.'}>, <frozendict {'name': 'ritz-carlton dining room (san francisco)', 'city': 'san francisco', 'unique_id': '110', 'cuisine': 'french (new)', 'address': '600 stockton st.'}>})

new item
frozenset({<frozendict {'name': 'buckhead diner', 'city': 'atlanta', 'unique_id': '78', 'cuisine': 'american (new)', 'address': '3073 piedmont rd.'}>, <frozendict {'name': 'buckhead diner', 'city': 'atlanta', 'unique_id': '78', 'cuisine': 'american', 'address': '3073 piedmont road'}>})

new item
frozenset({<frozendict {'name': 'rainbow room', 'city': 'new york city', 'unique_id': '55', 'cuisine': 'american (new)', 'address': '30 rockefeller plaza'}>, <frozendict {'name': 'rainbow room', 'city': 'new york', 'unique_id': '55', 'cuisine': 'or 212/632-5100 american', 'address': '30 rockefeller plaza'}>})

new item
frozenset({<frozendict {'name': 'smith & wollensky', 'city': 'new york', 'unique_id': '62', 'cuisine': 'american', 'address': '201 e. 49th st.'}>, <frozendict {'name': 'smith & wollensky', 'city': 'new york city', 'unique_id': '62', 'cuisine': 'steakhouses', 'address': '797 third ave.'}>})

new item
frozenset({<frozendict {'name': 'campton place', 'city': 'san francisco', 'unique_id': '98', 'cuisine': 'american (new)', 'address': '340 stockton st.'}>, <frozendict {'name': 'campton place', 'city': 'san francisco', 'unique_id': '98', 'cuisine': 'american', 'address': '340 stockton st.'}>})

new item
frozenset({<frozendict {'name': 'la caravelle', 'city': 'new york', 'unique_id': '39', 'cuisine': 'french', 'address': '33 w. 55th st.'}>, <frozendict {'name': 'la caravelle', 'city': 'new york city', 'unique_id': '39', 'cuisine': 'french (classic)', 'address': '33 w. 55th st.'}>})

new item
frozenset({<frozendict {'name': 'grill the', 'city': 'beverly hills', 'unique_id': '9', 'cuisine': 'american (traditional)', 'address': '9560 dayton way'}>, <frozendict {'name': 'grill on the alley', 'city': 'los angeles', 'unique_id': '9', 'cuisine': 'american', 'address': '9560 dayton way'}>})

new item
frozenset({<frozendict {'name': 'aqua', 'city': 'san francisco', 'unique_id': '95', 'cuisine': 'seafood', 'address': '252 california st.'}>, <frozendict {'name': 'aqua', 'city': 'san francisco', 'unique_id': '95', 'cuisine': 'american (new)', 'address': '252 california st.'}>})

new item
frozenset({<frozendict {'name': 'chinois on main', 'city': 'santa monica', 'unique_id': '5', 'cuisine': 'french', 'address': '2709 main st.'}>, <frozendict {'name': 'chinois on main', 'city': 'santa monica', 'unique_id': '5', 'cuisine': 'pacific new wave', 'address': '2709 main st.'}>})

new item
frozenset({<frozendict {'name': 'rex il ristorante', 'city': 'los angeles', 'unique_id': '19', 'cuisine': 'nuova cucina italian', 'address': '617 s. olive st.'}>, <frozendict {'name': 'rex il ristorante', 'city': 'los angeles', 'unique_id': '19', 'cuisine': 'italian', 'address': '617 s. olive st.'}>})

new item
frozenset({<frozendict {'name': "mary mac's tea room", 'city': 'atlanta', 'unique_id': '86', 'cuisine': 'southern/soul', 'address': '224 ponce de leon ave.'}>, <frozendict {'name': "mary mac's tea room", 'city': 'atlanta', 'unique_id': '86', 'cuisine': 'southern', 'address': '224 ponce de leon ave.'}>})

new item
frozenset({<frozendict {'name': 'mi cocina', 'city': 'new york city', 'unique_id': '48', 'cuisine': 'mexican', 'address': '57 jane st.'}>, <frozendict {'name': 'mi cocina', 'city': 'new york', 'unique_id': '48', 'cuisine': 'mexican', 'address': '57 jane st. off hudson st.'}>})

new item
frozenset({<frozendict {'name': 'la grotta', 'city': 'atlanta', 'unique_id': '85', 'cuisine': 'italian', 'address': '2637 peachtree rd. peachtree house condominium'}>, <frozendict {'name': 'la grotta', 'city': 'atlanta', 'unique_id': '85', 'cuisine': 'italian', 'address': '2637 peachtree rd. ne'}>})

new item
frozenset({<frozendict {'name': 'alain rondelli', 'city': 'san francisco', 'unique_id': '94', 'cuisine': 'french (new)', 'address': '126 clement st.'}>, <frozendict {'name': 'alain rondelli', 'city': 'san francisco', 'unique_id': '94', 'cuisine': 'french', 'address': '126 clement st.'}>})

new item
frozenset({<frozendict {'name': 'aquavit', 'city': 'new york city', 'unique_id': '24', 'cuisine': 'scandinavian', 'address': '13 w. 54th st.'}>, <frozendict {'name': 'aquavit', 'city': 'new york', 'unique_id': '24', 'cuisine': 'continental', 'address': '13 w. 54th st.'}>})

new item
frozenset({<frozendict {'name': 'march', 'city': 'new york', 'unique_id': '46', 'cuisine': 'american', 'address': '405 e. 58th st.'}>, <frozendict {'name': 'march', 'city': 'new york city', 'unique_id': '46', 'cuisine': 'american (new)', 'address': '405 e. 58th st.'}>})

new item
frozenset({<frozendict {'name': 'aureole', 'city': 'new york city', 'unique_id': '25', 'cuisine': 'american (new)', 'address': '34 e. 61st st.'}>, <frozendict {'name': 'aureole', 'city': 'new york', 'unique_id': '25', 'cuisine': 'american', 'address': '34 e. 61st st.'}>})

new item
frozenset({<frozendict {'name': 'union square cafe', 'city': 'new york', 'unique_id': '65', 'cuisine': 'american', 'address': '21 e. 16th st.'}>, <frozendict {'name': 'union square cafe', 'city': 'new york city', 'unique_id': '65', 'cuisine': 'american (new)', 'address': '21 e. 16th st.'}>})

new item
frozenset({<frozendict {'name': 'ciboulette', 'city': 'atlanta', 'unique_id': '79', 'cuisine': 'french', 'address': '1529 piedmont ave.'}>, <frozendict {'name': 'ciboulette restaurant', 'city': 'atlanta', 'unique_id': '79', 'cuisine': 'french (new)', 'address': '1529 piedmont ave.'}>})

new item
frozenset({<frozendict {'name': 'veni vidi vici', 'city': 'atlanta', 'unique_id': '93', 'cuisine': 'italian', 'address': '41 14th st.'}>})

new item
frozenset({<frozendict {'name': 'fringale', 'city': 'san francisco', 'unique_id': '101', 'cuisine': 'french', 'address': '570 4th st.'}>, <frozendict {'name': 'fringale', 'city': 'san francisco', 'unique_id': '101', 'cuisine': 'french bistro', 'address': '570 fourth st.'}>})

new item
frozenset({<frozendict {'name': 'indigo coastal grill', 'city': 'atlanta', 'unique_id': '84', 'cuisine': 'eclectic', 'address': '1397 n. highland ave.'}>, <frozendict {'name': 'indigo coastal grill', 'city': 'atlanta', 'unique_id': '84', 'cuisine': 'caribbean', 'address': '1397 n. highland ave.'}>})

new item
frozenset({<frozendict {'name': 'gramercy tavern', 'city': 'new york city', 'unique_id': '36', 'cuisine': 'american (new)', 'address': '42 e. 20th st.'}>, <frozendict {'name': 'gramercy tavern', 'city': 'new york', 'unique_id': '36', 'cuisine': 'american', 'address': '42 e. 20th st. between park ave. s and broadway'}>})

new item
frozenset({<frozendict {'name': 'picholine', 'city': 'new york city', 'unique_id': '53', 'cuisine': 'mediterranean', 'address': '35 w. 64th st.'}>, <frozendict {'name': 'picholine', 'city': 'new york', 'unique_id': '53', 'cuisine': 'mediterranean', 'address': '35 w. 64th st.'}>})

new item
frozenset({<frozendict {'name': "arnie morton's of chicago", 'city': 'los angeles', 'unique_id': '0', 'cuisine': 'american', 'address': '435 s. la cienega blv.'}>, <frozendict {'name': "arnie morton's of chicago", 'city': 'los angeles', 'unique_id': '0', 'cuisine': 'steakhouses', 'address': '435 s. la cienega blvd.'}>})

new item
frozenset({<frozendict {'name': 'bacchanalia', 'city': 'atlanta', 'unique_id': '75', 'cuisine': 'californian', 'address': '3125 piedmont rd.'}>, <frozendict {'name': 'bacchanalia', 'city': 'atlanta', 'unique_id': '75', 'cuisine': 'international', 'address': '3125 piedmont rd. near peachtree rd.'}>})

new item
frozenset({<frozendict {'name': 'cafe ritz-carlton buckhead', 'city': 'atlanta', 'unique_id': '89', 'cuisine': 'ext 6108 international', 'address': '3434 peachtree rd.'}>, <frozendict {'name': 'ritz-carlton cafe (buckhead)', 'city': 'atlanta', 'unique_id': '89', 'cuisine': 'american (new)', 'address': '3434 peachtree rd. ne'}>})

new item
frozenset({<frozendict {'name': "chin's", 'city': 'las vegas', 'unique_id': '67', 'cuisine': 'asian', 'address': '3200 las vegas blvd. s'}>, <frozendict {'name': "chin's", 'city': 'las vegas', 'unique_id': '67', 'cuisine': 'chinese', 'address': '3200 las vegas blvd. s.'}>})

new item
frozenset({<frozendict {'name': 'the palm', 'city': 'los angeles', 'unique_id': '15', 'cuisine': 'american', 'address': '9001 santa monica blvd.'}>, <frozendict {'name': 'palm the (los angeles)', 'city': 'w. hollywood', 'unique_id': '15', 'cuisine': 'steakhouses', 'address': '9001 santa monica blvd.'}>})

new item
frozenset({<frozendict {'name': 'second street grille', 'city': 'las vegas', 'unique_id': '71', 'cuisine': 'seafood', 'address': '200 e. fremont st.'}>, <frozendict {'name': 'second street grill', 'city': 'las vegas', 'unique_id': '71', 'cuisine': 'pacific rim', 'address': '200 e. fremont st.'}>})

new item
frozenset({<frozendict {'name': 'carnegie deli', 'city': 'new york', 'unique_id': '29', 'cuisine': 'delicatessen', 'address': '854 7th ave. between 54th and 55th sts.'}>, <frozendict {'name': 'carnegie deli', 'city': 'new york city', 'unique_id': '29', 'cuisine': 'delis', 'address': '854 seventh ave.'}>})

new item
frozenset({<frozendict {'name': 'manhattan ocean club', 'city': 'new york', 'unique_id': '45', 'cuisine': 'seafood', 'address': '57 w. 58th st.'}>, <frozendict {'name': 'manhattan ocean club', 'city': 'new york city', 'unique_id': '45', 'cuisine': 'seafood', 'address': '57 w. 58th st.'}>})

new item
frozenset({<frozendict {'name': "uncle nick's", 'city': 'new york city', 'unique_id': '64', 'cuisine': 'greek', 'address': '747 ninth ave.'}>, <frozendict {'name': "uncle nick's", 'city': 'new york', 'unique_id': '64', 'cuisine': 'mediterranean', 'address': '747 9th ave. between 50th and 51st sts.'}>})

new item
frozenset({<frozendict {'name': 'palace court', 'city': 'las vegas', 'unique_id': '70', 'cuisine': 'french (new)', 'address': '3570 las vegas blvd. s.'}>, <frozendict {'name': 'palace court', 'city': 'las vegas', 'unique_id': '70', 'cuisine': 'continental', 'address': '3570 las vegas blvd. s'}>})

new item
frozenset({<frozendict {'name': 'tillerman the', 'city': 'las vegas', 'unique_id': '73', 'cuisine': 'steakhouses', 'address': '2245 e. flamingo rd.'}>, <frozendict {'name': 'tillerman', 'city': 'las vegas', 'unique_id': '73', 'cuisine': 'seafood', 'address': '2245 e. flamingo rd.'}>})

new item
frozenset({<frozendict {'name': 'toulouse', 'city': 'atlanta', 'unique_id': '92', 'cuisine': 'french', 'address': 'b peachtree rd.'}>, <frozendict {'name': 'toulouse', 'city': 'atlanta', 'unique_id': '92', 'cuisine': 'french (new)', 'address': '293-b peachtree rd.'}>})

new item
frozenset({<frozendict {'name': 'lutece', 'city': 'new york', 'unique_id': '44', 'cuisine': 'french', 'address': '249 e. 50th st.'}>, <frozendict {'name': 'lutece', 'city': 'new york city', 'unique_id': '44', 'cuisine': 'french (classic)', 'address': '249 e. 50th st.'}>})

new item
frozenset({<frozendict {'name': 'oceana', 'city': 'new york', 'unique_id': '50', 'cuisine': 'seafood', 'address': '55 e. 54th st.'}>, <frozendict {'name': 'oceana', 'city': 'new york city', 'unique_id': '50', 'cuisine': 'seafood', 'address': '55 e. 54th st.'}>})

new item
frozenset({<frozendict {'name': 'postrio', 'city': 'san francisco', 'unique_id': '109', 'cuisine': 'californian', 'address': '545 post st.'}>, <frozendict {'name': 'postrio', 'city': 'san francisco', 'unique_id': '109', 'cuisine': 'american', 'address': '545 post st.'}>})

new item
frozenset({<frozendict {'name': "bone's restaurant", 'city': 'atlanta', 'unique_id': '76', 'cuisine': 'steakhouses', 'address': '3130 piedmont rd. ne'}>, <frozendict {'name': "bone's", 'city': 'atlanta', 'unique_id': '76', 'cuisine': 'american', 'address': '3130 piedmont road'}>})

new item
frozenset({<frozendict {'name': 'dawat', 'city': 'new york city', 'unique_id': '32', 'cuisine': 'indian', 'address': '210 e. 58th st.'}>, <frozendict {'name': 'dawat', 'city': 'new york', 'unique_id': '32', 'cuisine': 'asian', 'address': '210 e. 58th st.'}>})

new item
frozenset({<frozendict {'name': 'chez michel', 'city': 'san francisco', 'unique_id': '99', 'cuisine': 'french', 'address': '804 northpoint'}>, <frozendict {'name': 'chez michel', 'city': 'san francisco', 'unique_id': '99', 'cuisine': 'californian', 'address': '804 north point st.'}>})

new item
frozenset({<frozendict {'name': 'steak house', 'city': 'las vegas', 'unique_id': '72', 'cuisine': 'steak houses', 'address': '2880 las vegas blvd. s'}>, <frozendict {'name': 'steak house the', 'city': 'las vegas', 'unique_id': '72', 'cuisine': 'steakhouses', 'address': '2880 las vegas blvd. s.'}>})

new item
frozenset({<frozendict {'name': '21 club', 'city': 'new york', 'unique_id': '23', 'cuisine': 'american', 'address': '21 w. 52nd st.'}>, <frozendict {'name': '21 club', 'city': 'new york city', 'unique_id': '23', 'cuisine': 'american (new)', 'address': '21 w. 52nd st.'}>})

new item
frozenset({<frozendict {'name': 'tavern on the green', 'city': 'new york city', 'unique_id': '63', 'cuisine': 'american (new)', 'address': 'central park west'}>, <frozendict {'name': 'tavern on the green', 'city': 'new york', 'unique_id': '63', 'cuisine': 'american', 'address': 'in central park at 67th st.'}>})

new item
frozenset({<frozendict {'name': 'chanterelle', 'city': 'new york', 'unique_id': '30', 'cuisine': 'american', 'address': '2 harrison st. near hudson st.'}>, <frozendict {'name': 'chanterelle', 'city': 'new york city', 'unique_id': '30', 'cuisine': 'french (new)', 'address': '2 harrison st.'}>})

new item
frozenset({<frozendict {'name': 'lespinasse (new york city)', 'city': 'new york city', 'unique_id': '43', 'cuisine': 'asian', 'address': '2 e. 55th st.'}>, <frozendict {'name': 'lespinasse', 'city': 'new york', 'unique_id': '43', 'cuisine': 'american', 'address': '2 e. 55th st.'}>})

new item
frozenset({<frozendict {'name': 'daniel', 'city': 'new york city', 'unique_id': '31', 'cuisine': 'french (new)', 'address': '20 e. 76th st.'}>, <frozendict {'name': 'daniel', 'city': 'new york', 'unique_id': '31', 'cuisine': 'french', 'address': '20 e. 76th st.'}>})

new item
frozenset({<frozendict {'name': 'le chardonnay (los angeles)', 'city': 'los angeles', 'unique_id': '12', 'cuisine': 'french bistro', 'address': '8284 melrose ave.'}>, <frozendict {'name': 'le chardonnay', 'city': 'los angeles', 'unique_id': '12', 'cuisine': 'french', 'address': '8284 melrose ave.'}>})

new item
frozenset({<frozendict {'name': 'granita', 'city': 'malibu', 'unique_id': '8', 'cuisine': 'californian', 'address': '23725 w. malibu rd.'}>})

new item
frozenset({<frozendict {'name': 'island spice', 'city': 'new york', 'unique_id': '37', 'cuisine': 'tel caribbean', 'address': '402 w. 44th st.'}>, <frozendict {'name': 'island spice', 'city': 'new york city', 'unique_id': '37', 'cuisine': 'caribbean', 'address': '402 w. 44th st.'}>})

new item
frozenset({<frozendict {'name': 'park avenue cafe', 'city': 'new york', 'unique_id': '51', 'cuisine': 'american', 'address': '100 e. 63rd st.'}>, <frozendict {'name': 'park avenue cafe (new york city)', 'city': 'new york city', 'unique_id': '51', 'cuisine': 'american (new)', 'address': '100 e. 63rd st.'}>})

new item
frozenset({<frozendict {'name': 'pinot bistro', 'city': 'los angeles', 'unique_id': '18', 'cuisine': 'french', 'address': '12969 ventura blvd.'}>, <frozendict {'name': 'pinot bistro', 'city': 'studio city', 'unique_id': '18', 'cuisine': 'french bistro', 'address': '12969 ventura blvd.'}>})

new item

In [21]:
for item in false_positives:
    print("\nnew item")
    print(item)

new item
frozenset({<frozendict {'name': 'restaurant ritz-carlton atlanta', 'city': 'atlanta', 'unique_id': '91', 'cuisine': 'continental', 'address': '181 peachtree st.'}>, <frozendict {'name': 'ritz-carlton cafe (atlanta)', 'city': 'atlanta', 'unique_id': '711', 'cuisine': 'american (new)', 'address': '181 peachtree st.'}>})

new item
frozenset({<frozendict {'name': 'dining room ritz-carlton buckhead', 'city': 'atlanta', 'unique_id': '90', 'cuisine': 'international', 'address': '3434 peachtree rd.'}>, <frozendict {'name': 'ritz-carlton cafe (buckhead)', 'city': 'atlanta', 'unique_id': '89', 'cuisine': 'american (new)', 'address': '3434 peachtree rd. ne'}>})

new item
frozenset({<frozendict {'name': 'palm', 'city': 'new york city', 'unique_id': '634', 'cuisine': 'steakhouses', 'address': '837 second ave.'}>, <frozendict {'name': 'palm too', 'city': 'new york city', 'unique_id': '635', 'cuisine': 'steakhouses', 'address': '840 second ave.'}>})

new item
frozenset({<frozendict {'name': 'cafe ritz-carlton buckhead', 'city': 'atlanta', 'unique_id': '89', 'cuisine': 'ext 6108 international', 'address': '3434 peachtree rd.'}>, <frozendict {'name': 'ritz-carlton dining room (buckhead)', 'city': 'atlanta', 'unique_id': '90', 'cuisine': 'american (new)', 'address': '3434 peachtree rd. ne'}>})

new item
frozenset({<frozendict {'name': 'cafe ritz-carlton buckhead', 'city': 'atlanta', 'unique_id': '89', 'cuisine': 'ext 6108 international', 'address': '3434 peachtree rd.'}>, <frozendict {'name': 'dining room ritz-carlton buckhead', 'city': 'atlanta', 'unique_id': '90', 'cuisine': 'international', 'address': '3434 peachtree rd.'}>})

new item
frozenset({<frozendict {'name': 'ritz-carlton dining room (buckhead)', 'city': 'atlanta', 'unique_id': '90', 'cuisine': 'american (new)', 'address': '3434 peachtree rd. ne'}>, <frozendict {'name': 'ritz-carlton cafe (buckhead)', 'city': 'atlanta', 'unique_id': '89', 'cuisine': 'american (new)', 'address': '3434 peachtree rd. ne'}>})

In [22]:
for item in uncovered_dupes:
    print("\nnew item")
    print(item)

new item
frozenset({<frozendict {'name': 'spago', 'city': 'los angeles', 'unique_id': '20', 'cuisine': 'californian', 'address': '1114 horn ave.'}>, <frozendict {'name': 'spago (los angeles)', 'city': 'w. hollywood', 'unique_id': '20', 'cuisine': 'californian', 'address': '8795 sunset blvd.'}>})

new item
frozenset({<frozendict {'name': 'shun lee west', 'city': 'new york', 'unique_id': '60', 'cuisine': 'asian', 'address': '43 w. 65th st.'}>, <frozendict {'name': 'shun lee palace', 'city': 'new york city', 'unique_id': '60', 'cuisine': 'chinese', 'address': '155 e. 55th st.'}>})

new item
frozenset({<frozendict {'name': 'bel-air hotel', 'city': 'bel air', 'unique_id': '2', 'cuisine': 'californian', 'address': '701 stone canyon rd.'}>, <frozendict {'name': 'hotel bel-air', 'city': 'bel air', 'unique_id': '2', 'cuisine': 'californian', 'address': '701 stone canyon rd.'}>})

new item
frozenset({<frozendict {'name': 'restaurant ritz-carlton atlanta', 'city': 'atlanta', 'unique_id': '91', 'cuisine': 'continental', 'address': '181 peachtree st.'}>, <frozendict {'name': 'ritz-carlton restaurant', 'city': 'atlanta', 'unique_id': '91', 'cuisine': 'french (classic)', 'address': '181 peachtree st.'}>})

In [23]:
for item in clustered_dupes:
    print("\nnew item")
    print(item)

new item
((0, 1), (0.99999946, 0.99999946))

new item
((2, 3), (0.99885875, 0.99885875))

new item
((6, 7), (0.99999994, 0.99999994))

new item
((8, 9), (0.99999976, 0.99999976))

new item
((10, 11), (0.99999982, 0.99999982))

new item
((12, 13), (0.99999994, 0.99999994))

new item
((781, 775), (0.38461211, 0.38461211))

new item
((14, 15), (0.99846447, 0.99846447))

new item
((16, 17), (0.99999994, 0.99999994))

new item
((18, 19), (0.99783939, 0.99783939))

new item
((20, 21), (0.51554132, 0.51554132))

new item
((22, 23), (1.0, 1.0))

new item
((24, 25), (0.99973643, 0.99973643))

new item
((26, 27), (0.99983519, 0.99983519))

new item
((28, 29), (0.9999997, 0.9999997))

new item
((30, 31), (0.83063316, 0.83063316))

new item
((32, 33), (0.99999994, 0.99999994))

new item
((34, 35), (0.99812686, 0.99812686))

new item
((36, 37), (1.0, 1.0))

new item
((38, 39), (0.99999988, 0.99999988))

new item
((42, 43), (0.99999994, 0.99999994))

new item
((44, 45), (0.99939847, 0.99939847))

new item
((46, 47), (0.99999994, 0.99999994))

new item
((48, 49), (0.99999982, 0.99999982))

new item
((50, 51), (0.99999994, 0.99999994))

new item
((52, 53), (0.99999988, 0.99999988))

new item
((182, 822), (0.93943667411804199, 0.93943667411804199))

new item
((56, 57), (0.99999994, 0.99999994))

new item
((58, 59), (0.99998671, 0.99998671))

new item
((60, 61), (0.99999964, 0.99999964))

new item
((62, 63), (0.99999994, 0.99999994))

new item
((64, 65), (0.99999982, 0.99999982))

new item
((66, 67), (0.99999994, 0.99999994))

new item
((68, 69), (0.99975443, 0.99975443))

new item
((54, 55), (0.99999976, 0.99999976))

new item
((70, 71), (0.99999994, 0.99999994))

new item
((72, 73), (0.99999988, 0.99999988))

new item
((74, 75), (0.99999994, 0.99999994))

new item
((76, 77), (0.99999982, 0.99999982))

new item
((78, 79), (0.99999994, 0.99999994))

new item
((80, 81), (0.99999988, 0.99999988))

new item
((82, 83), (0.99999964, 0.99999964))

new item
((84, 85), (0.9916783, 0.9916783))

new item
((86, 87), (0.9991889, 0.9991889))

new item
((88, 89), (0.99999994, 0.99999994))

new item
((90, 91), (0.99999994, 0.99999994))

new item
((92, 93), (0.99999994, 0.99999994))

new item
((94, 95), (0.99998587, 0.99998587))

new item
((96, 97), (0.99999994, 0.99999994))

new item
((98, 99), (0.99999988, 0.99999988))

new item
((100, 101), (0.99999994, 0.99999994))

new item
((102, 103), (0.99975616, 0.99975616))

new item
((104, 105), (0.99999964, 0.99999964))

new item
((106, 107), (0.99999994, 0.99999994))

new item
((108, 109), (0.99999994, 0.99999994))

new item
((110, 111), (0.99999976, 0.99999976))

new item
((112, 113), (0.99999988, 0.99999988))

new item
((114, 115), (0.99999994, 0.99999994))

new item
((116, 117), (0.99997389, 0.99997389))

new item
((118, 119), (0.99999988, 0.99999988))

new item
((122, 123), (0.99999392, 0.99999392))

new item
((124, 125), (0.63674068, 0.63674068))

new item
((126, 127), (0.99999732, 0.99999732))

new item
((128, 129), (0.99999124, 0.99999124))

new item
((130, 131), (0.99999994, 0.99999994))

new item
((132, 133), (0.99910188, 0.99910188))

new item
((134, 135), (0.99999976, 0.99999976))

new item
((136, 137), (0.99972308, 0.99972308))

new item
((138, 139), (0.97978777, 0.97978777))

new item
((140, 141), (0.99999964, 0.99999964))

new item
((142, 143), (0.99904114, 0.99904114))

new item
((144, 145), (0.99968523, 0.99968523))

new item
((146, 147), (0.99931109, 0.99931109))

new item
((148, 149), (0.99999988, 0.99999988))

new item
((150, 151), (0.99999964, 0.99999964))

new item
((152, 153), (0.97759509, 0.97759509))

new item
((154, 155), (0.99999988, 0.99999988))

new item
((156, 157), (0.99999964, 0.99999964))

new item
((158, 159), (0.99972939, 0.99972939))

new item
((160, 161), (0.9999997, 0.9999997))

new item
((162, 163), (0.99999952, 0.99999952))

new item
((164, 165), (0.99883264, 0.99883264))

new item
((166, 167), (0.9999997, 0.9999997))

new item
((168, 169), (0.99999964, 0.99999964))

new item
((170, 171), (0.99999988, 0.99999988))

new item
((172, 173), (0.99999994, 0.99999994))

new item
((174, 175), (0.99999994, 0.99999994))

new item
((176, 177), (0.98459864, 0.98459864))

new item
((178, 179, 180, 181), (0.85644570986429847, 0.78598690032958984, 0.58605543772379565, 0.67019180456797289))

new item
((184, 185), (0.99999845, 0.99999845))

new item
((186, 187), (0.99999994, 0.99999994))

new item
((188, 189), (0.99999994, 0.99999994))

new item
((190, 191), (0.99999982, 0.99999982))

new item
((192, 193), (0.99999994, 0.99999994))

new item
((194, 195), (0.99999982, 0.99999982))

new item
((196, 197), (0.99999994, 0.99999994))

new item
((198, 199), (0.99999851, 0.99999851))

new item
((200, 201), (0.99999994, 0.99999994))

new item
((202, 203), (0.99999154, 0.99999154))

new item
((204, 205), (0.99999976, 0.99999976))

new item
((206, 207), (0.9999997, 0.9999997))

new item
((208, 209), (0.99999994, 0.99999994))

new item
((210, 211), (0.99963319, 0.99963319))

new item
((212, 213), (0.99999994, 0.99999994))

new item
((214, 215), (0.99898326, 0.99898326))

new item
((216, 217), (0.99999636, 0.99999636))

new item
((218, 219), (0.99999976, 0.99999976))

new item
((220, 221), (0.41463858, 0.41463858))

new item
((222, 223), (0.99999994, 0.99999994))

new item
((745, 746), (0.99746418, 0.99746418))

### Record linkage

## Appendix 3: Google Places API

Please verify with Google that this is not a violation of their terms of service before implementing this approach.